<div class="container">
  <div class="tobnav">
    <a routerLink="/">Dashboard </a><span>/ </span><a routerLink="/viewfiles">View Files </a><span>/ {{id}} Files</span>
  </div>

  <div class="tabl">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="filename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
          <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Added Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td class="actions" mat-cell *matCellDef="let element">
            <a href="http://localhost:8080/archiving_php/uploads/{{departUser}}/{{element.filename}}" target="_blank" download><i class="fas fa-download"></i></a>
            <a href="javascript:void(0);" (click)="deleteFile(element.id, element.filename)" style="color: red;"><i class="fas fa-trash-alt"></i></a>
            <!-- Example split danger button -->
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="open(content, element.id, element.filename)">Assign To</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
<!--modal add file-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign <span style="color: red;">{{assignedfile}}</span> to</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button *ngFor="let d of departs" type="button" class="btn btn-outline-info btn-sm" (click)="assign(d.name)">{{d.name}}</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cancel</button>
  </div>
</ng-template>
